doctype html
html(lang="en")
	head
		title= "nightblue3 — Commands"
		include includes/head.pug
		link(rel="stylesheet" href="/_/static/css/bulma.min.css")
		link(rel="stylesheet" href="/_/static/css/commands.min.css")
	body
		section.hero.is-light.is-fullheight
			div.hero-head
				nav.nav
					div.nav-center
						a.nav-item &lt;required&gt;
						a.nav-item [optional]
						a.nav-item &lt;first|second|third&gt;
			div.hero-body
				div.container
					table.table.is-striped.is-bordered
						each roleSection, i in commands
							if (roleSection.commands.length)
								thead
									tr.role
										td
											div
												- var classNames = ["role-icon", "icon-" + roleSection.role]
												i(class=classNames)
												h1.title.has-text-centered #{roleSection.roleName}
										td
										td
										td
										td
									tr
										each key, i in Object.keys(roleSection.commands[0] || {})
											th #{key}
								tbody
									each command, i in roleSection.commands
										tr
											each property, i in command
												th #{property}