<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="EDMSpot" />
    <meta property="og:title" content="EDM Spot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://dashboard.ban-hammered.me" /> <!--This redirects to the this site no matter what link-->
    <meta property="og:description" content="<% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>No description given.<% }%>" />
    <meta property="og:image" content="<%= bot.user.displayAvatarURL %>"/>
    <meta property="og:site_name" content="EDM Spot">
    <meta property="og:locale" content="en_US">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/public/css/cosmo.min.css">
    <link rel="stylesheet" href="/public/css/dashboard.css" />
    <link rel='icon' href='<%= bot.user.avatarURL %>'>

    <title>EDM Spot</title>
  </head>
  <body>
    <a name="top"></a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 20px;">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="container">
        <a class="navbar-brand" href="/"><img src="<%= bot.user.avatarURL %>" width="30" height="30" class="d-inline-block align-top rounded-circle" alt=""> <%= bot.user.username %></a>
        <div class="collapse navbar-collapse" id="navbar01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="commandsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Commands
                </a>
                <div class="dropdown-menu" aria-labelledby="commandsDropdown">
                  <a class="dropdown-item" href="/plugCommands">Plug Commands</a>
                  <a class="dropdown-item" href="/commands">Discord Commands</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="songsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Songs
                </a>
                <div class="dropdown-menu" aria-labelledby="songsDropdown">
                  <a class="dropdown-item" href="/blacklist">Blacklist</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/stats">Stats</a></li>
          </ul>
          <ul class="navbar-nav">
            <% if(user) { %>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.username %>#<%= user.discriminator %></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <h6 class="dropdown-header"><i class="fa fa-user" aria-hidden="true"></i> <%= user.username %></h6>
                  <a class="dropdown-item" href="/dashboard"><i class="fas fa-cogs" aria-hidden="true"></i> Dashboard</a>
                  <% if(user.id === bot.appInfo.owner.id) { %>
                    <a class="dropdown-item" href="/admin"><i class="fas fa-key"></i> Admin</a>
                  <% } %>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> Logout</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item"><a href="/login" class="nav-link"><i class="fas fa-key" aria-hidden="true"></i> Login</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">