<%- include('blocks/header', {bot, user, path}) %>
<% if(user) { %>
  <% if(user.id === bot.appInfo.owner.id || bot.config.admins.includes(user.id)) { %>
    <div class="jumbotron" style="padding-top: 20px;">
      <div class="row justify-content-center d-flex">
        <h4><i class="fas fa-crown"></i> Event LeaderBoard </h4>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">Rank</th>
            <th scope="col" class="text-center">User</th>
            <th scope="col" class="text-center">Songs Played</th>
            <th scope="col" class="text-center">Currency</th>
            <th scope="col" class="text-center">Ticket</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < event.length; i++) { %>
          <tr>
            <td class="text-center">
              <%= i + 1 %>
            </td>
            <td class="text-center">
              <%= event[i].dataValues.user.dataValues.username %>
            </td>
            <td class="text-center">
              <%= event[i].dataValues.played %>
            </td>
            <td class="text-center">
              <%= event[i].dataValues.currency %>
            </td>
            <td class="text-center">
              <%= event[i].dataValues.ticket %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } %>
<% } %>
<% include ./blocks/footer %>