<%- include('blocks/header', {bot, user, path}) %>
<div class="jumbotron" style="padding-top: 20px;">
  <div class="row">
    <div class="col-md-8">
      <h1 draggable="true">EDM Spot</h1>
      <h4>
        <% if(bot.appInfo.description.length > 3) { %>
        <%= bot.appInfo.description %>
        <% } else { %>No description given.
        <% }%>
      </h4>
      <br>
      <div>
        <div class="row">
          <div class="col-md-6">
            <h4>Now Playing:</h4>
            <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= bot.plug.getMedia().cid %>"
              frameborder="0" height="300" width="500"></iframe>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
      <br><br>
    </div>
    <div class="col-md-4 justify-content-end d-flex">
      <iframe src="https://discordapp.com/widget?id=485173051432894489&theme=dark" width="325" height="450"
        allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
  <div class="row justify-content-center d-flex">
    <h4><i class="fas fa-crown"></i> DJ LeaderBoard </h4>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Rank</th>
        <th scope="col" class="text-center">User</th>
        <th scope="col" class="text-center">Songs Played</th>
        <th scope="col" class="text-center">Messages Sent</th>
        <th scope="col" class="text-center">Points</th>
        <th scope="col" class="text-center">Woots</th>
        <th scope="col" class="text-center">Mehs</th>
        <th scope="col" class="text-center">Grabs</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < djRank.length; i++) { %>
      <tr>
        <td class="text-center">
          <%= i + 1 %>
        </td>
        <td class="text-center">
          <%= djRank[i].dataValues.user.username %>
        </td>
        <td class="text-center">
          <%= djRank[i].dataValues.playscount %>
        </td>
        <td class="text-center">
          <%= djRank[i].dataValues.totalmessages %>
        </td>
        <td class="text-center">
          <%= Math.round(djRank[i].dataValues.totalpoints) %>
        </td>
        <td class="text-center">
          <i style="color:forestgreen" class="fas fa-thumbs-up"></i>
          <%= djRank[i].dataValues.totalwoots %>
        </td>
        <td class="text-center">
          <i style="color:red" class="fas fa-thumbs-down"></i>
          <%= djRank[i].dataValues.totalmehs %>
        </td>
        <td class="text-center">
          <i style="color:steelblue" class="fas fa-hand-rock"></i>
          <%= djRank[i].dataValues.totalgrabs %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <br>
  <div class="row justify-content-center d-flex">
    <h4><i class="fas fa-crown"></i> Top 10 Songs</h4>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Rank</th>
        <th scope="col" class="text-center">Played</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Woots</th>
        <th scope="col" class="text-center">Mehs</th>
        <th scope="col" class="text-center">Grabs</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < rank.length; i++) { %>
      <tr>
        <td class="text-center">
          <%= i + 1 %>
        </td>
        <td class="text-center">
          <%= rank[i].dataValues.count %>
        </td>
        <td class="text-center">
          <%= rank[i].dataValues.author %> -
          <%= rank[i].dataValues.title %>
        </td>
        <td class="text-center">
          <i style="color:forestgreen" class="fas fa-thumbs-up"></i>
          <%= rank[i].dataValues.totalwoots %>
        </td>
        <td class="text-center">
          <i style="color:red" class="fas fa-thumbs-down"></i>
          <%= rank[i].dataValues.totalmehs %>
        </td>
        <td class="text-center">
          <i style="color:steelblue" class="fas fa-hand-rock"></i>
          <%= rank[i].dataValues.totalgrabs %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% include ./blocks/footer %>