<%- include('blocks/header', {bot, user, path}) %>
<div class="jumbotron" style="padding-top: 20px;">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2">
          <img class="card-img-top" style="width: 100%;" src="https://usercdn-prod.plug.dj/images/community/thumbnail_264fbdf9bf819dd9e8ca4f8cea386616.png">
        </div>
        <div class="col-md-10">
          <h1 class="display-4">EDM Spot</h1>
          <h4>
            <% if(bot.appInfo.description.length > 3) { %>
            <%= bot.appInfo.description %>
            <% } else { %>No description given.
            <% }%>
          </h4>
        </div>
      </div>
      <hr>
      <div>
        <div class="row">
          <div class="col-md-6">
            <h2>Now Playing</h2>
            <hr>
            <% if (bot.plug.getMedia()) { %>
            <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= bot.plug.getMedia().cid %>"
              frameborder="0" height="300" width="500"></iframe>
            <% } else { %>
            <p class="font-italic text-muted">No song playing.</p>
            <% } %>
          </div>
          <div class="col-md-6">
            <h2>Upcoming Events</h2>
            <hr>
            <p class="font-italic text-muted">No upcoming events.</p>
          </div>
        </div>
      </div>
      <br><br>
    </div>
    <div class="col-md-3 justify-content-end d-flex">
      <iframe src="https://discordapp.com/widget?id=485173051432894489&theme=dark" width="100%" height="100%"
        allowtransparency="true" frameborder="0"></iframe>
    </div>
  </div>
  <hr class="mb-3">
  <div class="row justify-content-center d-flex">
    <h4><i class="fas fa-crown"></i> DJ LeaderBoard </h4>
  </div>
  <table class="table table-hover" id="searchTableDJRank">
    <thead>
      <tr>
        <th scope="col" class="text-center">Rank</th>
        <th scope="col" class="text-center">User</th>
        <th scope="col" class="text-center">Songs Played</th>
        <th scope="col" class="text-center">Messages Sent</th>
        <th scope="col" class="text-center">Points</th>
        <th scope="col" class="text-center">Woots</th>
        <th scope="col" class="text-center">Mehs</th>
        <th scope="col" class="text-center">Grabs</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <hr class="mt-5 mb-5">
  <div class="row justify-content-center d-flex">
    <h4><i class="fas fa-crown"></i> Top 10 Songs</h4>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">Rank</th>
        <th scope="col" class="text-center">Played</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Woots</th>
        <th scope="col" class="text-center">Mehs</th>
        <th scope="col" class="text-center">Grabs</th>
        <th scope="col" class="text-center">Score</th>
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < rank.length; i++) { %>	
    <tr>	
      <td class="text-center">	
        <%= i + 1 %>	
      </td>	
      <td class="text-center">	
        <%= rank[i].dataValues.count %>	
      </td>	
      <td class="text-center">	
        <%= rank[i].dataValues.author %> -	
        <%= rank[i].dataValues.title %>	
      </td>	
      <td class="text-center">	
        <i style="color:forestgreen" class="fas fa-thumbs-up"></i>	
        <%= rank[i].dataValues.totalwoots %>	
      </td>	
      <td class="text-center">	
        <i style="color:red" class="fas fa-thumbs-down"></i>	
        <%= rank[i].dataValues.totalmehs %>	
      </td>	
      <td class="text-center">	
        <i style="color:steelblue" class="fas fa-hand-rock"></i>	
        <%= rank[i].dataValues.totalgrabs %>	
      </td>	
      <td class="text-center">	
        <%= Math.round(rank[i].dataValues.score) %>	
      </td>	
    </tr>	
    <% } %>
    </tbody>
  </table>
  <hr class="mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
      <div class="row justify-content-center d-flex">	
        <h4><i class="fas fa-hand-holding-usd"></i> Users with most props</h4>
      </div>
      <table class="table table-hover">
        <thead>
          <tr class="d-none">
            <th scope="col"></th>
            <th scope="col">Username</th>
            <th scope="col">Props</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < userProps.length; i++) { %>
          <tr>
            <td class="text-center">
              <%= i + 1 %>
            </td>
            <td class="text-center">
              <%= userProps[i].dataValues.username %>
            </td>
            <td class="text-center">
              <%= userProps[i].dataValues.props %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>
<script type="text/javascript">
  $('#searchTableDJRank').DataTable({
    "dom": "<'card-body pl-0 pr-0 pt-0'<'row align-items-center'<'col-12 col-md-6'B><'col-6'f>>>" +
        "<'row'<'col-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",

    colReorder: true,
    fixedHeader: false,
    responsive: true,
    "pageLength": 100,
    "autoWidth": true,
    "processing": true,
    "searchHighlight": true,
    "dom": "lfrti",
    "lengthChange": false,
    "info": false,
    "ordering": false,

    "select": {
        "style": 'single',
        "blurable": true
    },

    ajax: "/api/djs",
    columns: [
      null,
      { data: "user.username" },
      { data: "playscount" },
      { data: "totalmessages" },
      { data: "totalpoints" },
      { data: "totalwoots" },
      { data: "totalmehs" },
      { data: "totalgrabs" }
    ],
    columnDefs: [
      {
        targets: '_all',
        className: 'text-center'
      },
      {
        targets: 0,
        render: function (data, type, row, meta) {
          return meta.row + 1;
        }
      },
      {
        targets: 4,
        render: function (data, type, row) {
          return Math.round(data);
        }
      },
      {
        targets: 5,
        render: function (data, type, row) {
          return '<i style="color:forestgreen" class="fas fa-thumbs-up"></i> ' + data;
        }
      },
      {
        targets: 6,
        render: function (data, type, row) {
          return '<i style="color:red" class="fas fa-thumbs-down"></i> ' + data;
        }
      },
      {
        targets: 7,
        render: function (data, type, row) {
          return '<i style="color:steelblue" class="fas fa-hand-rock"></i> ' + data;
        },
      }
    ]
  });
</script>
<% include ./blocks/footer %>