<%- include('blocks/header', {bot, user, path}) %>
<div class="jumbotron">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h1 draggable="true">EDM Spot</h1>
        <h4>
          <% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>No description given. <% }%>
        </h4>
        <br>
        <h4>Now Playing:</h4>
        <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/<%= bot.plug.getMedia().cid %>" frameborder="0" height="300" width="500"></iframe>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center d-flex">
          <h4><i class="fas fa-crown"></i> Props LeaderBoard</h4>
        </div>
        <table class="table">
          <thead>
            <tr class="d-none">
              <th scope="col">Rank</th>
              <th scope="col">Username</th>
              <th scope="col">Props</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0; i < instance.length; i++) { %>
              <tr>
                <td class="text-center">
                  <%= i + 1 %>
                </td>
                <td class="text-center">
                  <%= instance[i].dataValues.username %>
                </td>
                <td class="text-center">
                  <%= instance[i].dataValues.props %>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div>
      <div class="row justify-content-center d-flex">
        <h4><i class="fas fa-crown"></i> Songs LeaderBoard</h4>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th scope="col">Title</th>
            <th scope="col">Woots</th>
            <th scope="col">Mehs</th>
            <th scope="col">Grabs</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < rank.length; i++) { %>
            <tr>
              <td class="text-center">
                <%= i + 1 %>
              </td>
              <td class="text-center">
                <%= rank[i].dataValues.author %> - <%= rank[i].dataValues.title %>
              </td>
              <td class="text-center">
                <%= rank[i].dataValues.totalwoots %>
              </td>
              <td class="text-center">
                <%= rank[i].dataValues.totalmehs %>
              </td>
              <td class="text-center">
                <%= rank[i].dataValues.totalgrabs %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include ./blocks/footer %>