<%- include('blocks/header', {bot, user, path}) %>

<% const cmds = bot.plugCommands.getLoaded();
const commands = [];

const roles = {
  5000: "Host",
  4000: "Co-Host",
  3000: "Manager",
  2000: "Bouncer",
  1000: "Resident DJ",
  0: "User",
};

const cooldownStrings = {
  perUser: "Per User",
  perUse: "Per Use",
  none: "None",
};

const filter = (i, command) => command.minimumPermission === i;
const mapper = (registeredCommand) => {
  const command = {
    Names: registeredCommand.names.map(name => `!${name}`).join(", "),
    Parameters: registeredCommand.parameters,
    "Cooldown Type": cooldownStrings[registeredCommand.cooldownType],
    "Cooldown Duration": "",
    Description: registeredCommand.description,
  };

  if (registeredCommand.cooldownType !== "none") {
    if (Math.floor(registeredCommand.cooldownDuration / 60)) {
      command["Cooldown Duration"] += `${Math.floor(registeredCommand.cooldownDuration / 60)}m`;

      if (Math.floor(registeredCommand.cooldownDuration % 60)) {
        command["Cooldown Duration"] += `${Math.floor(registeredCommand.cooldownDuration % 60)}s`;
      }
    } else {
      command["Cooldown Duration"] += `${registeredCommand.cooldownDuration % 60}s`;
    }
  }

  return command;
};

for (let i = 0; i < 5; i++) {
  commands.push({
    role: i * 1000,
    roleName: roles[i * 1000],
    commands: cmds.filter(filter.bind(this, i * 1000)).map(mapper),
  });
}

let currentCategory = "";
%>

    <% commands.forEach( c => { %>
      <% const cat = c.roleName.toProperCase(); %>
      <% if (currentCategory !== cat) { %>
        <h3><%= cat %></h3>
      <br>
      <div class="card-columns">
        <% currentCategory = cat; %>
        <% } %>
        <% c.commands.forEach( d => { %>
          <div class="card">
            <h3 class="card-header"><%= d.Names.toProperCase() %></h3>
            <div class="card-body">
              <p class="card-text"><%= d.Description %></p>
              <h6 class="card-subtitle text-muted"><br /><a href="#" data-toggle="modal" data-target="#<%= `${d.Names}` %>Modal">more...</a></h6>
            </div>
          </div>
          <div id="<%= `${d.Names}` %>Modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header btn-info disabled">
                  <h4 class="modal-title"><%= d.Names.toProperCase() %></h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Param: <%= d.Parameters %></p>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button></div>
              </div>
            </div>
          </div>
        <% }); %>
        <% }); %>
<% include ./blocks/footer %>